* {
    text-align: center;
    margin: auto 0;
    font-family:'Courier New', Courier, monospace;
}
h1{
    margin-bottom: 15px;
}
.canvas{
    margin: 0 auto;
    background: black;
    width: 50%;
    height: 100%;
    color: wheat;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 15px;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], textarea {
    width: 95%;
    padding: 8px;
    margin: 4px 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button[type="submit"] {
    width: 100%;
    font-weight: bolder;
    background: linear-gradient(45deg, green, yellow);
    padding: 10px;
    cursor:pointer;
    border-radius: 4px;
    font-size: 16px;
}

button[type="submit"]:hover {
    background: linear-gradient(45deg, yellow, green);
}

li{
    list-style: none;
}