{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Shades Table</title>
    <link rel="stylesheet"  href="{% static "css/style_shades.css" %}">
</head>
<body>
    <table border="1">
        <tr>
            <th>Black</th>
            <th style="color: red">Red</th>
            <th style="color: blue">Blue</th>
            <th style="color: green">Green</th>
        </tr>
        {% for i in shades %}
        <tr>
            <td style="background-color: rgb({{i}}, {{i}}, {{i}});"></td>
            <td style="background-color: rgb({{i}}, 0, 0);"></td>
            <td style="background-color: rgb(0, 0, {{i}});"></td>
            <td style="background-color: rgb(0, {{i}}, 0);"></td>
        </tr>
        {% endfor %}
    </table>

    <!-- Debug output -->
</body>
</html>
